In [4]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql import functions as F

import numpy as np
import pandas as pd

In [5]:
spark = SparkSession.builder.master("local").appName("SQL-DSL").getOrCreate()

## 0 - Création des données

In [10]:
t1 = [('07890', 'Jean Paul Sartre'), ('05678', 'Pierre de Ronsard')]
rdd1 = spark.sparkContext.parallelize(t1)

auteur = rdd1.toDF(['aid', 'name'])
auteur.createOrReplaceTempView('Auteur_SQL')

In [3]:
auteur.show()

     aid               name
0  07890   Jean Paul Sartre
1  05678  Pierre de Ronsard

In [4]:
t2 = [('0001', 'L_essentialisme est un humanisme', 'Philosophie'), \
      ('0002', 'Huis clos. Suivi de Les Mouches', 'Philosophie'), \
      ('0003', 'Mignonne allons voir si la rose', 'Poeme'), \
      ('0004', 'Les Amours', 'Poeme')]
rdd2 = spark.sparkContext.parallelize(t2)

livre = rdd2.toDF(['bid', 'title', 'category'])
livre.createOrReplaceTempView('Livre_SQL')

In [5]:
t3 = [('S15', 'toto', 'Math'), \
      ('S16', 'popo', 'Eco'), \
      ('S17', 'fofo', 'Mécanique')]
rdd3 = spark.sparkContext.parallelize(t3)

etudiant = rdd3.toDF(['sid', 'name', 'dept'])
etudiant.createOrReplaceTempView('Etudiant_SQL')

In [6]:
t4 = [('07890', '0001'), \
      ('07890', '0002'), \
      ('05678', '0003'), \
      ('05678', '0003')]
rdd4 = spark.sparkContext.parallelize(t4)

write = rdd4.toDF(['aid', 'bid'])
write.createOrReplaceTempView('Write_SQL')

In [ ]:
t5 = [('S15', '0003', '02-01-2020', '01-02-2020'), \
      ('S15', '0002', '13-06-2020', 'null'), \
      ('S15', '0001', '13-06-2020', '13-10-2020'), \
      ('S16', '0002', '24-01-2020', '24-01-2020'), \
      ('S17', '0001', '12-04-2020' '01-07-2020')]
rdd5 = spark.sparkContext.parallelize(t5)

emprunt = rdd5.toDF(['sid', 'bid', 'checkout_time', 'return_time'])
emprunt.createOrReplaceTempView('Emprunt_SQL')

## 1 - Trouver les titres de tous les livres que l'étudiant S15 a emprunté